{% extends 'base.html.twig' %}
{% block title %}{{ formation.title }}{% endblock %}
{% block content %}
    <div class="formationcontainer text-center">
    {% block sidebar %}
        {% include "./formations/sidebar.html.twig" %}
    {% endblock %}
        <h1>{{ formation.title }} par {{ formation.user.firstname }} {{ formation.user.lastname }}</h1>
        {{ formation.description }}
        <hr>
        <h2>Bien commencer sa formation</h2>
        jopzjdepzajdopzozopjda
    </div>
{% endblock %}