{% extends 'base.html.twig' %}
{% block title %}Formations{% endblock %}
{% block content %}
    {% block homepage %}
    <div class="blockcontainer text-center">
        <h1>Nos formations</h1>
        <br>
        <div class="search">
            <form>
                <label for="live_search">Rechercher une formation :</label>
                <input type="search" id="live_search" class="form-control" placeholder="Rechercher une formation" />
            </form>
        </div>
        <br>
            <div class="container px-5 mb-3">
                <div class="row">
                    {% for formation in formations %}
                        <div class="col-md-4">
                            <div class="card">
                                <img class="card-img-top" src="{{ vich_uploader_asset(formation, 'imageFile') }}" alt="{{ formation.imageName }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ formation.title }}</h5>
                                    <p class="card-text">{{ formation.description }}</p>
                                    <a class="small btn btn-success custom-btn rounded-pill px-3" href="{{path('app_formations_see', {'id' : formation.id })}}" role="button">voir</a>
                                    <span class="small">par {{ formation.user.firstname }} {{ formation.user.lastname }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
    </div>
    {% endblock %}
{% endblock %}